{% load static %}
<!-- templates/includes/sidenav/sidenav_superadmin.html -->
<aside class="sidenav">
  <div class="sidenav__header">
    <img src="{% static 'images/Logo.png' %}" alt="DENRO Logo" class="avatar">
    <div class="title">SUPER ADMIN</div>
  </div>
  <ul class="sidenav__menu">
    <li><a href="{% url 'SA-dashboard' %}">
    <i class="fas fa-tachometer-alt"></i>
    Dashboard</a></li>
    <li><a href="#">
    <i class="fas fa-list"></i>
    Activity Logs</a></li>
    <li><a href="#">
    <i class="fas fa-users"></i>
    User Accounts</a></li>
    <li><a href="#">
    <i class="fas fa-file-alt"></i>
    Reports</a></li>
  </ul>
  <div class="sidenav__footer">
    <a href="{% url 'logout' %}">
    <i class="fas fa-sign-out-alt"></i>
    Logout</a>
  </div>
</aside>
