<!-- templates/includes/sidenav/sidenav_admin.html -->
<aside class="sidenav">
  <div class="sidenav__header">
    <div class="avatar">AD</div>
    <div class="title">ADMIN</div>
  </div>
  <ul class="sidenav__menu">
    <!-- <li><a href="{% url 'Admin-dashboard' %}">Dashboard</a></li> -->
    <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>

    <li><a href="{% url 'user_profile' %}">
    <i class="fas fa-user"></i>
    Profile</a></li>

    <li><a href="{% url 'admin_activitylogs' %}">
    <i class="fas fa-list"></i>
    Activity Logs</a></li>
    <li><a href="{% url 'approve_users' %}">User Accounts</a></li>
    <li><a href="{% url 'admin_reports' %}">Reports</a></li>
  </ul>
  <div class="sidenav__footer">
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</aside>
