{% load static %}
<!-- Sidebar -->
<div class="sidebar">
  <img src="{% static 'images/Logo.png' %}" alt="DENRO Logo" class="sidebar-logo">
  <a href="{% url 'admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
  <a href="{% url 'user_profile' %}"><i class="fas fa-user"></i> Profile</a>
  <a href="{% url 'admin_activitylogs' %}"><i class="fas fa-list"></i> Activity Logs</a>
  <a href="{% url 'approve_users' %}"><i class="fas fa-users"></i> User Accounts</a>
  <a href="{% url 'admin_reports' %}"><i class="fas fa-file-alt"></i> Reports</a>
  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>
